@media (max-width: 1500px) {
    .holiday{
        padding: 0;

        justify-content: space-around;
    }
    .holiday_finder{
        
    }

    .finder_title{
        text-align: center;
    }

    .finder_subtitle{
        text-align: center;
    }  

    .holiday_button{
        margin: 0 auto;
    }

    .description{
        padding: 0;
        margin-top: 100px;
        justify-content: space-around;
    }

    .description_about{
        
    }

    .about_title{
        text-align: center;
    }

    .about_text{
        text-align: center;
    }

    .about_button{
        margin: 0 auto;
    }

}


