@media (max-width: 1500px) {
    .holiday{
        padding: 0;

        justify-content: space-around;
    }
    .holiday_finder{
        
    }

    .finder_title{
        text-align: center;
    }

    .finder_subtitle{
        text-align: center;
    }  

    .holiday_button{
        margin: 0 auto;
    }

    .description{
        padding: 0;
        margin-top: 100px;
        justify-content: space-around;
    }

    .description_about{
        
    }

    .about_title{
        text-align: center;
    }

    .about_text{
        text-align: center;
    }

    .about_button{
        margin: 0 auto;
    }

    .featured_gallerey{
        justify-content: space-around;
    }




    .guides{
        padding: 0;
        margin-top: 100px;        
        justify-content: space-around;
    }
    .guides_inner{
        top:0px;
        margin-top:50px;
        text-align: center;
    }
    .guides_button{
        margin: 39px auto 0px auto;
    }

    .testimonials{
        padding: 0;
        margin-top: 100px;        
        justify-content: space-around;
    }
    .testimonials_inner{
        text-align: center;
    }
    .testimonials_inner__stars{
        margin-top: 45px;
        justify-content: center;
    }
    .testimonials_gallerey{
        top: 0;
        margin-bottom: 50px;
    }


    .trending{
        margin-top: 100px;
    }

    .trending_gallerey{
            
        justify-content: space-around;
    }



    .footer_up{
       
    }


}


